@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500&family=Fredoka:wght@300;400;500&family=Sora:wght@100;200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Sora, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #f2f2f2;
}


/* HEADER SECTION */

header {
    background-color: #fff;
    /* min-height: 20px; */
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list img {
    padding: 1rem;
}

.right-link {
    display: flex;
}

.nav-list li {
    list-style: none;
}

.nav-list a {
    text-decoration: none;
}

.about {
    padding: 10px 20px;
}

.about:hover {
    color: #ec0e97;
}

.right-link a :active {
    color: #d24d05 !important
}


/* END OF HEADER */


/* MAIN SECTION */

main h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
}

p {
    padding-left: 2rem;
}


/* Paragraph below img */

.big-para {
    letter-spacing: 0px;
    line-height: 1;
    font-weight: 300;
    font-size: 1.25rem;
    text-transform: none;
    margin: 23px 23px 23px 0px;
}


/* All Boxes form or figure */

.dimen {
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    background-color: #ffffff;
    margin-bottom: 3rem;
}

.boxes {
    margin: 1rem;
}

.box1 {
    min-height: 279.19px;
    color: #000;
}


/* measurement for all colored div */

.wh {
    max-width: 410px;
    min-height: 23px;
}


/* Colors of all Divs  */

.pink-block {
    background-color: #d10553;
}

.blue-block {
    background-color: #e748a2;
}

.green-block {
    background-color: #43bd46;
}

.yellow-block {
    background-color: #e5e800;
}

.purple-block {
    background-color: #c17ff0;
}

.pink2-block {
    background-color: #ee7bbc;
    margin-bottom: 3rem;
}


/* margin for all imgs */

img {
    margin: 2rem 0rem 2rem 2rem;
}

.btn {
    text-decoration: none;
    background-color: #e748a2;
    text-transform: uppercase;
    border-radius: 20px;
    color: #fff;
    padding: 20px 46px 20px 44px;
}

.footer-btn {
    text-align: center;
}

.btn:hover {
    background-color: #111111;
}

footer {
    padding-top: 3rem;
    margin-top: 4rem;
    text-align: center;
    color: #fff;
    background-color: #333333;
}


/* coloring the footer last paragraph */

.color-blue {
    color: #e875c7;
}

@media (min-width: 700px) {
    .boxes {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-template-areas: 'box1 box2 box3' 'box4 box5 box6';
        padding-block: 3em;
        max-width: 1200px;
        margin: auto;
    }
    h1 {
        max-width: 800px;
        margin: auto;
    }
    .footer-btn {
        text-align: center;
    }
    .pink-block {
        width: 388px
    }
}